/* You can add global styles to this file, and also import other style files */
.navbar-expand-lg {
  background-color: #046056;
}

.footer {
  background-color: #ADDCCF;
}

.name-heading{
  color: #ffc107;
  font-family: "Times New Roman";
}

.name-heading-1{
  color: orange;
  font-family: "Times New Roman";
}

li{
  margin: 10px 0;
}

.register{
  padding-top: 100px;
}
