<h5 class="text-center name-heading fs-1">List of service</h5>
<!--TABLE-->
<div class="container mt-5">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</div>
<!--&lt;!&ndash;DELETE MODAL&ndash;&gt;-->
<!--<div class="modal" tabindex="-1" id="deleteModal">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">Are you sure to delete</h5>-->
<!--        &lt;!&ndash;        <h5 class="text-danger modal-title ms-1" id="name-delete"></h5>&ndash;&gt;-->
<!--        &lt;!&ndash;        <h5 class="modal-title ms-1">from list ?</h5>&ndash;&gt;-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        &lt;!&ndash;                        <p>Modal body text goes here.</p>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <a id="link-delete" type="button" class="btn btn-primary" href="">Delete</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--PAGEABLE-->
<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination justify-content-center">-->
<!--    <li class="page-item btn bg-info btn-sm">-->
<!--      <a class="page-link"-->
<!--         th:if="${employeePage.hasPrevious()}"-->
<!--         th:href="@{/employee/list-page(page = ${employeePage.number - 1})}">-->
<!--        Previous-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="page-item" th:each="pageNo: ${#numbers.sequence(0,employeePage.totalPages - 1)}">-->
<!--      <a class="page-link" th:href="@{/employee/list-page(page = ${pageNo})}" th:text="${pageNo}"></a>-->
<!--    </li>-->
<!--    <li class="page-item btn bg-info btn-sm">-->
<!--      <a class="page-link"-->
<!--         th:if="${employeePage.hasNext()}" th:href="@{/employee/list-page(page = ${employeePage.number + 1})}">-->
<!--        Next-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item btn bg-info btn-sm">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item "><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item btn bg-info btn-sm">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
