<div class="container-fluid px-0" style="height: 100vh">
  <div class="row mx-0 px-0" style="height: 100%;">
    <div class="col-2 px-0" style="background-color: #ADDCCF">
      <div class="list-group rounded border border-success" style="margin-top: 75px">
        <a class="list-group-item list-group-item-action" routerLink="">Quản Lý Nhân Viên</a>
        <a class="list-group-item list-group-item-action" routerLink="CustomerListComponent">Quản Lý Khách Hàng</a>
        <a class="list-group-item list-group-item-action">Quản Lý Dịch Vụ</a>
        <a class="list-group-item list-group-item-action">Quản Lý Hợp Đồng</a>
      </div>
    </div>
    <div class="col-10">
    </div>
  </div>
</div>
