<h2 class="text-center register">Create new customer</h2>
<form [formGroup]="contactForm">
  <div class="row content">
    <div class="container col-md-6 bg-warning">
      <div class="row">
        <div class="col-md-6">
          <label for="serviceName" class="form-label">Name</label>
          <input type="text" class="form-control" id="serviceName">
        </div>
        <div class="col-md-6">
          <label for="area" class="form-label">Area</label>
          <input type="text" class="form-control" id="area">
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="price" class="form-label">Price</label>
            <input type="date" class="form-control" id="price">
          </div>
          <div class="col-md-6">
            <label for="amountPerson" class="form-label">Amount of person</label>
            <input type="email" class="form-control" id="amountPerson">
          </div>
        </div>
        <div class="col-12 text-center mt-3 mb-3">
          <button type="submit" class="btn btn-secondary" (click)="createService()">
            Create
          </button>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
