<h2 class="text-center customer-edit">Edit profile</h2>
<form [formGroup]="customerFrom" >
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row bg-opacity-50" style="background-color: lightseagreen">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5"
               src="https://i.pinimg.com/originals/0f/f2/a3/0ff2a316dacedc8e140059565e71cd10.jpg"
               width="100">
          <span class="font-weight-bold">mina</span>
          <span class="text-black-50">mina1326@bbb.com</span>
          <span>Xiǎo wéi</span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="text-right fs-3">Edit your profile</h6>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="labels">Id</label>
              <input type="number" class="form-control" formControlName="id">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">First Name</label>
              <input type="text" class="form-control" formControlName="firstName">
            </div>
            <div class="col-md-6">
              <label class="labels">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">Date of birth</label>
              <input type="date" class="form-control" placeholder="headline" formControlName="dateOfBirth">
            </div>
            <div class="col-md-6 mt-4">
<!--              <label class="labels me-3">Gender</label>-->
<!--              <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"-->
<!--                       value="option1">-->
<!--                <label class="form-check-label" for="inlineRadio1">Male</label>-->
<!--              </div>-->
<!--              <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"-->
<!--                       value="option2">-->
<!--                <label class="form-check-label" for="inlineRadio2">Female</label>-->
<!--              </div>-->
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Phone</label>
              <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Email</label>
              <input type="text" class="form-control" placeholder="email" formControlName="email">
            </div>
            <div class="col-md-12">
              <label class="labels">Address</label>
              <input type="text" class="form-control" value="Address" formControlName="address">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="button"  (click)="editCustomer(customerFrom.controls.id.value)">Edit Profile</button>
          </div>
        </div>
      </div>
<!--      <div class="col-md-4">-->
<!--        <div class="p-3 py-5">-->
<!--          <div class="d-flex justify-content-between align-items-center experience text-light">-->
<!--            <span><button class="btn bg-light">Edit Experience</button></span>-->
<!--            <button-->
<!--              class="btn bg-light px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="d-flex flex-row mt-3 exp-container">-->
<!--            <img src="https://i.imgur.com/azSfBM3.png" width="45" height="45">-->
<!--            <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span>-->
<!--              <span class="d-block text-black-50 labels">Twitter Inc.</span>-->
<!--              <span class="d-block text-black-50 labels">Time</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <div class="d-flex flex-row mt-3 exp-container">-->
<!--            <img src="https://img.icons8.com/color/100/000000/facebook.png" width="45" height="45">-->
<!--            <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span>-->
<!--              <span class="d-block text-black-50 labels">Facebook Inc.</span>-->
<!--              <span class="d-block text-black-50 labels">Time</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <div class="d-flex flex-row mt-3 exp-container"><img-->
<!--            src="https://img.icons8.com/color/50/000000/google-logo.png" width="45" height="45">-->
<!--            <div class="work-experience ml-1"><span class="font-weight-bold d-block">UI/UX Designer</span><span-->
<!--              class="d-block text-black-50 labels">Google Inc.</span>-->
<!--              <span class="d-block text-black-50 labels">Time</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</form>
