<app-create></app-create>
<a role="button" class="btn btn-large btn-success text-white">Add new</a>
<table class="table">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">Name</th>
    <th scope="col">gender</th>
    <th scope="col">Point</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let studentObj of studentList; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{studentObj.name}}</td>
    <td>
      <span *ngIf="studentObj.gender == 1;else std">
        Male
      </span>
      <ng-template #std>
        Female
      </ng-template>
    </td>
    <td>{{studentObj.point}}</td>
  </tr>
  </tbody>
</table>
