<p>Create Student</p>
<div class="container">
  <div class="container col-5">
    <!--    Khai báo 1 biến trong template, Angular sẽ lưu trữ 1 obj là thể hiện của form-->
    <form #editStudentForm ="ngForm" (ngSubmit)="onSubmit(editStudentForm)">
      <div class="mb-3">
        <label for="studentId" class="form-label">Student Id</label>
        <input
          [ngModel] =student.studentId
          name="studentId"
          type="text" class="form-control" id="studentId">
      </div>
      <div class="mb-3">
        <label for="nameStudent" class="form-label">Name</label>
        <input
          [ngModel] =student.studentName
          name="nameStudent"
          type="text" class="form-control" id="nameStudent">
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select
          [ngModel] =student.gender
          name="gender"
          id="gender" class="form-select">
          <option selected>Choose...</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="studentPoint" class="form-label">Point</label>
        <input
          [ngModel] =student.studentPoint
          name="studentPoint"
          type="password" class="form-control" id="studentPoint">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
