<h2 class="text-center customer-edit">Edit profile</h2>
<form [formGroup]="studentEditForm" (ngSubmit)="onSubmit()">
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row bg-opacity-50" style="background-color: lightseagreen">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5"
               src="https://i.pinimg.com/originals/0f/f2/a3/0ff2a316dacedc8e140059565e71cd10.jpg"
               width="100">
          <span class="font-weight-bold">mina</span>
          <span class="text-black-50">mina1326@bbb.com</span>
          <span>Xiǎo wéi</span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="text-right fs-3">Edit your profile</h6>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="labels">Id</label>
              <input type="number" class="form-control">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Student Name</label>
              <input type="text" class="form-control" formControlName="studentName">
              <span style="color: red"
                    *ngIf="studentEditForm.controls.name.hasError('required') && studentEditForm.controls.name.dirty">
              </span>
            </div>
            <div class="col-md-6">
              <label class="labels">Group Name</label>
              <input type="text" class="form-control" formControlName="groupName">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">Topic Name</label>
              <input type="text" class="form-control" formControlName="topicName">
            </div>
            <div class="col-md-6">
              <label class="form-label">Tutor</label> <br>
              <select class="form-select form-select-md mb-3" name="customer_type" [compareWith]="compareFn"
                      formControlName="tutor" aria-label=".form-select-lg example">
                <option>Choose Tutor</option>
                <!--                <option  *ngFor="let type of tutorType" [ngValue]="type" >{{type.name}}</option>-->
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Phone</label>
              <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="button">Edit Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
